version: '3'

services:
  mailpit:
    image: axllent/mailpit
    ports:
      - '1025:1025'
      - '8025:8025'
    environment:
      - mailpit_smtp_dsn=smtp://mailpit:1025
      - mailpit_api_url=http://mailpit:8025
