name: Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    services:
      mailpit:
        image: axllent/mailpit
        ports:
          - 1025:1025
          - 8025:8025
    runs-on: ubuntu-22.04
    name: Test
    strategy:
      fail-fast: false
      matrix:
        php: ["8.2", "8.3", "8.4"]

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          coverage: pcov

      - name: Install dependencies
        run: composer update

      - name: Run tests
        env:
          mailpit_smtp_dsn: smtp://mailpit:1025
          mailpit_api_url: http://mailpit:8025
        run: composer run test:unit
