name: Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    services:
      mailpit:
        image: axllent/mailpit
        env:
          MH_SMTP_BIND_ADDR: 0.0.0.0:1025
          MH_API_BIND_ADDR: 0.0.0.0:8025
          MH_UI_BIND_ADDR: 0.0.0.0:8025
        ports:
          - 1025:1025
          - 8025:8025
    runs-on: ubuntu-22.04
    name: Test
    strategy:
      fail-fast: false
      matrix:
        php: ["8.1", "8.2", "8.3"]

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          coverage: pcov

      - name: Install dependencies
        run: composer update

      - name: Run tests
        run: make test
